extends ../layout

block content
  

    // -----------------------------CSS-----------------------------------------
    link(rel='stylesheet', href='/stylesheets/gerardo.css')
    // -------------------------------------------------------------------------

    // -----------------------------CONTENT-------------------------------------

    .container.center-align
        .row.left-align
        .row.left-align
          a.backabout.btn.href(href="/about") 
            .row
              .col.s4
                i.material-icons chevron_left face
              .col.s8
                span about us
        .row 
          .col.s8
            img.responsive-img.circle(src="../images/profile_pics/gerardo.png")
          .col.s4
            .row
              .card-panel.gerardopanel1
                h4.white-text Gerardo Ochoa
            .row
              .card-panel.gerardopanel2
                h5.white-text Developer
        .row  
          .card-panel.gerardopanel3
            span.flow-text.white-text I am a computer science student at San Francisco State University.I became interested in programming due to playing with emulators when I was younger. My hobbies are reading and gaming.
        .row
          a(href="https://github.com/robertIanClarkson" target="_blank")
            img(src="https://ghchart.rshah.org/robertIanClarkson")
