extends ../layout

block content
  .container.center-align
    .row.left-align
      a.waves-effect.waves-light.btn(href="/about") About Us
    .row 
      .col.s8
        img.responsive-img.circle(src="../images/profile_pics/gerardo.png")
      .col.s4
        .row
          .card-panel.yellow.lighten-2
            h4 Gerardo Ochoa
        .row
          .card-panel.yellow.lighten-3
            h5 Developer
    .row  
      .card-panel.yellow.lighten-4
        h6 I am a computer science student at San Francisco State University.I became interested in programming due to playing with emulators when I was younger. My hobbies are reading and gaming.
