extends ../layout

block content
  .container.center-align
    .row 
      .col.s8
        img.responsive-img.circle(src="../images/profile_pics/gerardo.png")
      .col.s4
        .row
          .card-panel.red.lighten-4
            h5 Gerardo Ochoa
        .row
          .card-panel.pink.lighten-4
            h5 Developer
    .row  
      .card-panel.purple.lighten-4
        p I am a computer science student at San Francisco State University.I became interested in programming due to playing with emulators when I was younger. My hobbies are reading and gaming.
