extends ../layout

block content
  .container.center-align
    .row.left-align
      a.waves-effect.waves-light.btn(href="/about") About Us
    .row 
      .col.s8
        img.responsive-img.circle(src="../images/profile_pics/hong.jpg")
      .col.s4
        .row
          .card-panel.deep-orange.lighten-2
            h4 Hong Shen Li 
        .row
          .card-panel.deep-orange.lighten-3
            h5 Developer 
    .row  
      .card-panel.deep-orange.lighten-4
        h6 Hello and welcome to my page! My name is Hong and I am a student in SFSU majoring in Computer Science.
