extends ../layout

block content
  .container.center-align
    .row.left-align
      a.waves-effect.waves-light.btn(href="/about") About Us
    .row 
      .col.s8
        img.responsive-img.circle(src="../images/profile_pics/kevin.png")
      .col.s4
        .row
          .card-panel.red.lighten-4
            h5 Kevin Fung
        .row
          .card-panel.pink.lighten-4
            h5 Github Master
    .row  
      .card-panel.purple.lighten-4
        p I am a Computer Science student in SFSU, I am interested in doing CS because I like gaming, and want to work in a game company.
