extends ../layout

block content
  

    // -----------------------------CSS-----------------------------------------
    link(rel='stylesheet', href='/stylesheets/kevin.css')
    // -------------------------------------------------------------------------

    // -----------------------------CONTENT-------------------------------------
    .container.center-align
      .row.left-align
      .row.left-align
        a.backabout.btn.href(href="/about") 
          .row
            .col.s4
              i.material-icons chevron_left face
            .col.s8
              span about us
      .row 
        .col.s8
          img.responsive-img.circle(src="../images/profile_pics/kevin.png")
        .col.s4
          .row
            .card-panel.kevinpanel1
              h4.white-text Kevin Fung
          .row
            .card-panel.kevinpanel2
              h5.white-text Github Master
      .row  
        .card-panel.kevinpanel3
          span.flow-text.white-text I am a Computer Science student in SFSU, I am interested in doing CS because I like gaming, and want to work in a game company.
      .row
        a(href="https://github.com/robertIanClarkson" target="_blank")
          img(src="https://ghchart.rshah.org/robertIanClarkson")
