extends ../layout

block content
  .container.center-align
    .row.left-align
      a.waves-effect.waves-light.btn(href="/about") About Us
    .row 
      .col.s8
        img.responsive-img.circle(src="../images/profile_pics/robert.jpg")
      .col.s4
        .row
          .card-panel.red.lighten-4
            h5 Robert Clarkson 
        .row
          .card-panel.pink.lighten-4
            h5 Team Lead  
    .row  
      .card-panel.purple.lighten-4
        p A senior at SFSU in Computer Science. I love working on cars old and new! I also have a soft spot for robotics and web development. If you want to be my bestfriend take me out to sushi!
