extends ../layout

block content
  .container.center-align
    .row.left-align
      a.waves-effect.waves-light.btn(href="/about") About Us
    .row 
      .col.s8
        img.responsive-img.circle(src="../images/profile_pics/taylor.png")
      .col.s4
        .row
          .card-panel.purple.lighten-2
            h4 Taylor Luke
        .row
          .card-panel.purple.lighten-3
            h5 Front End Lead  
    .row  
      .card-panel.purple.lighten-4
        h6 Hello, I am a computer science major at SFSU! I am in my fifth year and plan to graduate in Spring 2020. 

