extends ../layout

block content
  

    // -----------------------------CSS-----------------------------------------
    link(rel='stylesheet', href='/stylesheets/taylor.css')
    // -------------------------------------------------------------------------

    // -----------------------------CONTENT-------------------------------------

    .container.center-align
      .row.left-align
      .row.left-align
        a.backabout.btn.href(href="/about") 
          .row
            .col.s4
              i.material-icons chevron_left face
            .col.s8
              span about us
      .row 
      .row
        .col.s8
          img.responsive-img.circle(src="../images/profile_pics/taylor.png")
        .col.s4
          .row
            .card-panel.taylorpanel1
              h4.white-text Taylor Luke
          .row
            .card-panel.taylorpanel2
              h5.white-text Front End Lead  
      .row  
        .card-panel.taylorpanel3
          span.flow-text.white-text Hello, I am a computer science major at SFSU! I am in my fifth year and plan to graduate in Spring 2020.
      .row
        a(href="https://github.com/robertIanClarkson" target="_blank")
          img(src="https://ghchart.rshah.org/robertIanClarkson") 

