extends layout

block content
  //- container
    //-row
      //- col0
        //- image
        //- p text (name) --> Team Lead
        //- button --> POST "about/robert"
      //- col1
        //- image
        //- p text (name) --> backend Lead
        //- button --> POST "about/cody"
      //- col2
        //- image
        //- p text (name) --> Frontend Lead
        //- button --> POST "about/taylor"
    //-row
      //- col0
      //- col1
      //- col2