extends layout
block content
    // -----------------------------CSS-----------------------------------------
    link(rel='stylesheet', href='/stylesheets/about.css')
    // -------------------------------------------------------------------------

    // -----------------------------CONTENT-------------------------------------
    //- Square cards
    .container
      //- Back Button
      .row
      //- ROW 0
      .row
        h1.center-align About Us
      //- ROW 1
      .row
        //- Robert
        .col.s4
          .row
              .col.s12
                a(href="/about/robert")
                  .card.robertcard
                    .card-image
                      img.responsive-img(src="/images/profile_pics/robert.jpg")
                    .card-content
                      h5 Robert
                      h5 Team Lead
        //- Cody
        .col.s4
          .row
              .col.s12
                a(href="/about/cody")
                  .card.codycard
                    .card-image
                      img.responsive-img(src="/images/profile_pics/cody.jpg")
                    .card-content
                      h5 Cody
                      h5 Backend Lead
        //- Taylor
        .col.s4
          .row
              .col.s12
                a(href="/about/taylor")
                  .card.taylorcard
                    .card-image
                      img.responsive-img(src="/images/profile_pics/taylor.png")
                    .card-content
                      h5 Taylor
                      h5 Frontend Lead
      //- ROW 2
      .row
        //- Kevin
        .col.s4
          .row
              .col.s12
                a(href="/about/kevin")
                  .card.kevincard
                    .card-image
                      img.responsive-img(src="/images/profile_pics/kevin.png")
                    .card-content
                      h5 Kevin
                      h5 Gitmaster
        //- Hong
        .col.s4
          .row
              .col.s12
                a(href="/about/hong")
                  .card.hongcard
                    .card-image
                      img(src="/images/profile_pics/hong.jpg")
                    .card-content
                      h5 Hong
                      h5 Developer
        //- Gerardo
        .col.s4
          .row
              .col.s12
                a(href="/about/gerardo")
                  .card.gerardocard
                    .card-image
                      img.responsive-img(src="/images/profile_pics/gerardo.png")
                    .card-content
                      h5 Gerardo
                      h5 Developer
       
      // -------------------------------------------------------------------------

      // -----------------------------JAVASCRIPT----------------------------------
      
      // -------------------------------------------------------------------------
