extends layout
block content
    // -----------------------------CSS-----------------------------------------
    link(rel='stylesheet', href='/stylesheets/about.css')
    // -------------------------------------------------------------------------

    // -----------------------------CONTENT-------------------------------------
    //- Square cards
    .container
      //- Back Button
      .row
      .row
        a.aboutHButton.btn.href(href="/")
          .col.s4
            i.material-icons chevron_left home
          .col.s8
            span home
        //- ROW 0
        .row
          h1.center-align About Us
        //- ROW 1
        .row
          //- Robert
          .col.s4
            .row
                .col.s12
                  a(href="/about/robert")
                    .card.robertcard
                      .card-image
                        img.responsive-img(src="/images/profile_pics/robert.jpg")
                        span.card-title Robert
                      .card-content
                        h5 Team Lead
          //- Cody
          .col.s4
            .row
                .col.s12
                  a(href="/about/cody")
                    .card.codycard
                      .card-image
                        img.responsive-img(src="/images/profile_pics/cody.jpg")
                        span.card-title Cody
                      .card-content
                        h5 Backend Lead
          //- Taylor
          .col.s4
            .row
                .col.s12
                  a(href="/about/taylor")
                    .card.taylorcard
                      .card-image
                        img.responsive-img(src="/images/profile_pics/taylor.png")
                        span.card-title Taylor
                      .card-content
                        h5 Frontend Lead
        //- ROW 2
        .row
          //- Kevin
          .col.s4
            .row
                .col.s12
                  a(href="/about/kevin")
                    .card.kevincard
                      .card-image
                        img.responsive-img(src="/images/profile_pics/kevin.png")
                        span.card-title Kevin
                      .card-content
                        h5 Gitmaster
          //- Hong
          .col.s4
            .row
                .col.s12
                  a(href="/about/hong")
                    .card.hongcard
                      .card-image
                        img(src="/images/profile_pics/hong.jpg")
                        span.card-title Hong
                      .card-content
                        h5 Developer
          //- Gerardo
          .col.s4
            .row
                .col.s12
                  a(href="/about/gerardo")
                    .card.gerardocard
                      .card-image
                        img.responsive-img(src="/images/profile_pics/gerardo.png")
                        span.card-title Gerardo
                      .card-content
                        h5 Developer
       
      // -------------------------------------------------------------------------
      
      // -----------------------------JAVASCRIPT----------------------------------
      
      // -------------------------------------------------------------------------
