extends layout

block content
    //- Square cards
    nav
    .container
        h2 SFSU Connect
            p
                | A big statemeent here

            .row
                h4 The Team
            //- Robert Profile
            .row 
                .col.s2
                    .image.float.left
                        img(src="/images/profile_pics/robert.jpg")
                .col.s1 
                .col.s6
                    .about-text
                        h6 Robert Clarrkson
                        p(style='white-space: pre; line-height: normal','line-height: normal')
                         | Team Lead 
                         |
                         | this is info about robin
            //- Cody Profile
            .row 
                .col.s2
                    .image.float.left
                        img(src="/images/profile_pics/rsz/cody.png")
                .col.s1 
                .col.s6
                    .about-text
                        h6 Cody Camper
                        p(style='white-space: pre; line-height: normal','line-height: normal')
                         | Back End Lead
                         |
                         | As a computer science major from San Jose, my passions are in software, algorithms, and programming paradigms.
            //- Taylor Profile
            .row 
                .col.s2
                    .image.float.left
                        img(src="/images/profile_pics/rsz/rsz_taylor.png")
                .col.s1 
                .col.s6
                    .about-text
                        h6 Taylor Luke
                        p(style='white-space: pre; line-height: normal','line-height: normal')
                         | Front End Lead
                         |
                         | Hello, I am a computer science major at SFSU! I am in my fifth year and plan to graduate in Spring 2020.
            //- Gerardo Profile
            .row 
                .col.s2
                    .image.float.left
                        img(src="/images/profile_pics/rsz/gerardo.png")
                .col.s1 
                .col.s6
                    .about-text
                        h6 Gerardo Ochoa
                        p(style='white-space: pre; line-height: normal','line-height: normal')
                         | Developer
                         |
                         | I am a computer science student at San Francisco State University. I became interested in programming due to playing with 
                         | emulators when I was younger. My hobbies are reading and gaming.
            //- Hong Profile
            .row 
                .col.s2
                    .image.float.left
                        img(src="/images/profile_pics/rsz/hong.png")
                .col.s1 
                .col.s6
                    .about-text
                        h6 Hong Shen Li
                        p(style='white-space: pre; line-height: normal','line-height: normal')
                         | Developer
                         |
                         | Hello and welcome to my page! My name is Hong and I am a student in SFSU majoring in Computer Science.
            //- Kevin Profile
            .row 
                .col.s2
                    .image.float.left
                        img(src="/images/profile_pics/rsz/kevin.png")
                .col.s1 
                .col.s6
                    .about-text
                        h6 Kevin Fung
                        p(style='white-space: pre; line-height: normal','line-height: normal')
                         | Github Master
                         |
                         | I am a Computer Science student in SFSU, I am interested in doing CS because I like gaming, and want to work in a game company.