extends layout

block content
    

    .container
   
      .row.center-align
        .col.s12
          .card.deep-purple
              .card-content
                  h5.white-text.text-darken-2 My Account
         
        .col.s5.push-s6
            img.responsive-img.circle#accimg(src='../images/profile_pics/taylor.png' alt='Image Circle')
        .col.s5.pull-s5
            .card.deep-purple
               .card-content.white-text
                  span Manage Items
                  .row
                  span Inbox  
        .col.s5.pull-s5
            .card.deep-purple
               .card-content.white-text
                  h5 My Information
                  .row
                  span First Name:Bob
                  .row
                  span Last Name: McBob
                  .row
                  span Email: Bob@sfsu.edu
