extends layout

block content
  // ---------------------------------CSS----------------------------------
  link(rel='stylesheet', href='/stylesheets/account.css')
  // ----------------------------------------------------------------------
  // ---------------------------------CONTENT------------------------------

  .container

    .row.center-align
     .col.s12
       .card.deep-purple
          .card-content
             h5.white-text.text-darken-2 My Account
        
     .col.s5.push-s6
         img.responsive-img.circle#accimg(src='../images/profile_pics/taylor.png' alt='Image Circle')
     .col.s5.pull-s5
         .card.deep-purple
            .card-content.white-text-action
                a(href="userItems") Manage Items
                .row
                a(href="inbox") Inbox
     .col.s5.pull-s5
         .card.deep-purple
            .card-content.white-text
                a.href(href="/")
                   i.material-icons.right create

                h5 My Information
                .row
                span First Name:Bob
                .row
                span Last Name: McBob
                .row
                span Email: Bob@sfsu.edu
  // ----------------------------------------------------------------------
  // ---------------------------------JAVASCRIPT---------------------------

  // ----------------------------------------------------------------------                 

//- code for when ready to test
//-           .col.s5.pull-s5
//-             .card.deep-purple
//-                .card-content.white-text-action
//-                   span.card-title My Information
//-                   .row
//-                   p First Name: #{user.first_name}
//-                   .row
//-                   p Last Name: #{user.last_name}
//-                   .row
//-                   p Email: #{user.email}
