extends layout

block content
    //- Square cards

    .container

      .row
        .col.s4
           .row
              .col.s12
                .card.deep-purple
                   .card-content.black-text
                      span.white-text.text-darken-2 My Account





      .container

            .row
              .col.s4
                .row
                    .col.s12
                      .card.deep-purple
                        .card-content.black-text
                            span.white-text.text-darken-2 My Information
                            span.white-text.text-darken-2 First Name
                            span.white-text.text-darken-2 Email
    
      .container
 
       .row
        .col.s4
           .row
              .col.s12
                .card.deep-purple
                   .card-content.black-text
                      span.white-text.text-darken-2 Manage Items
                      span.white-text.text-darken-2 Inbox

                
      .container     

      .row
        .center-align
          img.responsive-img.circle(src='../images/profile_pics/taylor.png' alt='Image Circle')
    
    
