extends layout

block content
    

    .container

      .row.center-align
        .col.s4
          .card.deep-purple
              .card-content.black-text
                  h5.white-text.text-darken-2 My Account

    .container
   
         .row.center-align
           .col.s4
               .card.deep-purple
                  .card-content.black-text
                     span.white-text.text-darken-2 Manage Items
                     .row
                        span.white-text.text-darken-2 Inbox  
    .container

          .row
            .col.s4
                img.responsive-img.circle#accimg(src='../images/profile_pics/taylor.png' alt='Image Circle')




    .container

               .row.center-align
                 .col.s4
                     .card.deep-purple
                        .card-content.white-text
                           .row
                              i.small.material-icons insert_create
                                  h5.white-text.text-darken-2 My Information
                                     .row
                                        span.white-text.text-darken-2 First Name:Bob
                                           .row
                                              span.white-text.text-darken-2 Last Name: McBob
                                               .row
                                                    span.white-text.text-darken-2 Email: Bob@sfsu.edu