extends layout

block content
    

    .container

      .row.center-align
        .cols4
          .card.deep-purple
              .card-content.black-text
                  h5.white-text.text-darken-2 My Account

    .container.center-align
   
         .row
            .col.s12.m4.l4
               .card.deep-purple
                  .card-content.black-text
                     span.white-text.text-darken-2 Manage Items
                     .row
                        span.white-text.text-darken-2 Inbox  

    .container.center-align

               .row
                  .col.s12.m4.l6
                     .card.deep-purple
                        .card-content.white-text
                           .row
                              i.small.material-icons insert_create
                                 h5.white-text.text-darken-2 My Information
                                    .row
                                       span.white-text.text-darken-2 First Name:Bob
                                          .row
                                             span.white-text.text-darken-2 Last Name: McBob
                                                .row
                                                   span.white-text.text-darken-2 Email: Bob@sfsu.edu



    .container  

          .row
            .center-align
              img.responsive-img.circle(src='../images/profile_pics/taylor.png' alt='Image Circle')