extends layout

block content
    

    .container
   
      .row 
       
      
      .row.center-align
        .col.s12
          .card.deep-purple
              .card-content
                  h5.white-text.text-darken-2 My Account

      .right-align
         .col.l8
            img.responsive-img.circle#accimg(src='../images/profile_pics/taylor.png' alt='Image Circle')
   
      .row
         .col.l4
            .card.deep-purple
               .card-content
                  span.white-text.text-darken-2 Manage Items
                  .row
                  span.white-text.text-darken-2 Inbox  
      .row
         .center-align
            .col.l4
               .card.deep-purple
                  .card-content.white-text
                     .row
                        i.small.material-icons insert_create
                              h5 My Information
                                 .row
                                    span First Name:Bob
                                       .row
                                          span Last Name: McBob
                                             .row
                                                   span Email: Bob@sfsu.edu

   

 
