extends layout

block content
  // ---------------------------------CSS----------------------------------
  link(rel='stylesheet', href='/stylesheets/account.css')
  // ----------------------------------------------------------------------

  // ---------------------------------CONTENT------------------------------
  .container

    .row.center-align
      .col.s12
        .card.myaccountcard.card
          .card-content
            h2.gold My Account
      .col.s5.push-s6
        form(action="account/newImage", method="post", enctype="multipart/form-data")
          .row
            img.responsive.circle#accimg(src='/images/profile_pics/' + user.image alt='Image Circle')
          .row
            input.left(id='uploadImage' type='file', name = "uploadImage", accept = 'image/*')
          .row
            button.left(type='submit') Save
      .col.s5.pull-s5
        .card.myaccountcard2.card
          .card-content.white-text-action
            a#items.btn-large(href="/account/items") Manage Items
            .row
            a#inbox.btn-large(href="/account/inbox") Inbox
      .col.s5.pull-s5
        .card.myaccountcard3.card
          .card-content.white-text#edit(style="display: none")
            .row
              h5.gold.center Edit Password
            .row
              button.btn.right#editpass(type="button" onclick="closeForm();") Cancel
                i.material-icons.right create
            .loginForm.rounded
              form(action="/account/edit", method="post")

                h5.gold.left New Password

                input.white-text(type='password', name = "password", id='pw1', placeholder='choose a password', required)

                h5.gold.left Confirm New Password

                input.white-text(type='password', name = "Confirm_password", id='pw2', placeholder='choose a password', required, onchange='check();')

                .row
                  a.href.right(href="/account")
                    button.loginButton.btn.right.rounded(type = 'submit', id='passChange', disabled) Change
          .card-content.white-text#standard
            .row
              h5.gold My Information
            .row
              button.btn.center#editpass(type="button" onclick="openForm();") Edit Password
                i.material-icons.right create
            .row.center-align
            if user
              .row
              span.gold Name: #{user.name}
              .row
              span.gold Email: #{user.email}
              .row
              span.gold Created: #{user.created}

            else
              .row
              span.gold Name: Something went wrong...
              .row
              span.gold Email: Something went wrong...
              .row
              span.gold Created: Something went wrong...
  // ----------------------------------------------------------------------

  // ---------------------------------JAVASCRIPT---------------------------
  script(src='/javascripts/account.js')
  // ----------------------------------------------------------------------