extends layout

block content
    //- Square cards
    .container
 
      
      .row
      .card-panel.5D1049 
        form.col.s12
          .row
            .input-field.col.s6
              span.black-text.text-darken-2 First Name
              input#first_name2.validate(type='text')
            .input-field.col.s7
                span.black-text.text-darken-2 Last Name
                input#last_name2.validate(type='text')
            .input-field.col.s8
              span.black-text.text-darken-2 Email
              input#email_name2.validate(type='text')

            
    
