extends layout

block content
  // ---------------------------------CSS----------------------------------
  link(rel='stylesheet', href='/stylesheets/account.css')
  // ----------------------------------------------------------------------

  // ---------------------------------CONTENT------------------------------
  .container

    .row.center-align
      .col.s12
        .card.myaccountcard.card
          .card-content
            h5.white-text My Account
      .col.s5.push-s6
        form(action="account/newImage", method="post", enctype="multipart/form-data")
          .row
            img.responsive-img.circle#accimg(src='/images/profile_pics/' + user.image alt='Image Circle')
          .row
            input(id='uploadImage' type='file', name = "uploadImage", accept = 'image/*')
          .row
            button(type='submit') Save
      .col.s5.pull-s5
        .card.myaccountcard2.card
          .card-content.white-text-action
            a(href="/account/items") Manage Items
            .row
            a(href="/account/inbox") Inbox
      .col.s5.pull-s5
        .card.deep-purple
          .card-content.white-text#edit(style="display: none")
            .row.valign-wrapper
              .col.s10
                h5 Edit
              .col.s2
                button.btn.right(type="button" onclick="closeForm();")
                  i.material-icons.right create
            .loginForm.rounded
              form(action="/account/edit", method="post")

                h5 new Password

                input(type='password', name = "password", id='pw1', placeholder='choose a password', required)

                h5 confirm new Password

                input(type='password', name = "Confirm_password", id='pw2', placeholder='choose a password', required, onchange='check();')

                .row
                  a.href.right(href="/account")
                    button.loginButton.btn.right.rounded(type = 'submit', id='passChange', disabled) Change
          .card-content.white-text#standard
            .row.valign-wrapper
              .col.s10
                h5 My Information
              .col.s2
                  button.btn.right(type="button" onclick="openForm();")
                    i.material-icons.right create
            if user
              .row
              span Name: #{user.name}
              .row
              span Email: #{user.email}
              .row
              span Created: #{user.created}

            else
              .row
              span Name: Something went wrong...
              .row
              span Email: Something went wrong...
              .row
              span Created: Something went wrong...
  // ----------------------------------------------------------------------
  
  // ---------------------------------JAVASCRIPT---------------------------
  script(src='/javascripts/account.js')
  // ----------------------------------------------------------------------