extends layout

block content
  //- Square cards

  // ---------------------------- INBOX ------------------------
  link(rel='stylesheet' href='/stylesheets/inbox.css')
  // ---------------------------- INBOX ------------------------

  // -------------------------- CONTENT ------------------------

  .row#inboxbg
    .col.s2#sidebar
      #inbox
        i.small.material-icons#mailIcon mail
          h6 Inbox
      .row
      #inbox-list
        ul
          li
          i.small.material-icons#mailIcon mail
          |  Inbox
          .divider
          li
          i.small.material-icons#mailIcon mail
          |  Amy
          .divider

    .col.s10#messageBox
      #subject
        p Subject
      .row
      #mail-body
        | this is the body of the email 

        | assdasdasd

  // -------------------------- CONTENT ------------------------

  // ---------------------------- JS ---------------------------

  // ---------------------------- JS ---------------------------
