extends layout

block content
  // THE INBOX PAGE

  // ---------------------------- INBOX ------------------------
  link(rel='stylesheet' href='/stylesheets/inbox.css')
  // ---------------------------- INBOX ------------------------

  // -------------------------- CONTENT ------------------------

  //- Page title
  .row#inbox
    h2.center Inbox

  //- Legend
  .row#titleRow
    .col.s2#legend.divider-white-right
      h5 DATE
    .col.s2#legend.divider-white-right
      h5 FROM
    .col.s2#legend.divider-white-right
      h5 SUBJECT
    .col.s6#legend.divider-white-right
      h5 MESSAGE

  //- Message generator
  .row#messageRow
    if messages
      each message in messages
        .row
          .col.s2.divider-right#itemDate
            p #{message.date}
          .col.s2.divider-right#senderName
            p #{message.sender}
          .col.s2.divider-right#messageSubject
            p #{message.subject}
          .col.s6#messageBlock
            p #{message.message}
        .divider
    else 
      h3.center There are no Messages.
  // -------------------------- CONTENT ------------------------

  // ---------------------------- JS ---------------------------

  // ---------------------------- JS ---------------------------
