extends layout

block content
  // THE INBOX PAGE

  // ---------------------------- INBOX ------------------------
  link(rel='stylesheet' href='/stylesheets/inbox.css')
  // ---------------------------- INBOX ------------------------

  // -------------------------- CONTENT ------------------------

  .row#titleRow
    .col.s2.divider-right#itemDate
      h5 
        u DATE
      .divider
    .col.s2.divider-right#senderName
      h5 
        u FROM
      .divider
    .col.s2.divider-right#messageBlock
      h5 
        u SUBJECT
      .divider
    .col.s6#messageBlock
      h5 
        u MESSAGE
      .divider

  .row#messageRow
    if messages
      each message in messages
        .row
          .col.s2.divider-right#itemDate
            p #{message.date}
          .col.s2.divider-right#senderName
            p #{message.sender}
          .col.s2.divider-right#messageSubject
            p #{message.subject}
          .col.s6#messageBlock
            p #{message.message}
        .divider
    else 
      h3.center There are no Messages.

  // -------------------------- CONTENT ------------------------

  // ---------------------------- JS ---------------------------

  // ---------------------------- JS ---------------------------
