extends layout

block content
    //- Square cards
    .container
      //- ROW 0
      .row.center-align
        .divider
        h1 CSC-648 
        h1 Software Engineering
        h2 San Francisco State University
        h3 Team 1
        .divider
        h5 Robert Clarkson
        h5 Cody Camp
        h5 Taylor Luke
        h5 Kevin Fung
        h5 Hong Li
        h5 Gerardo Ochoa
        a.waves-effect.waves-light.btn-large(href="/about") About Us
      