extends layout

block content
  .containter
    .row
      p this is our project description
    .row
      .col.s4
        p hello
      .col.s4
        p hello
      .col.s4
        p hello
    .row
      .col.s4
        p hello
      .col.s4
        p hello
      .col.s4
        p hello
    .row
      p Possible github rss feed of commits/stats 

