extends layout

block content
    //- Square cards
    .container
      //- ROW 0
      .row.center-align
          h1.center-align Index (landing page)
          a.waves-effect.waves-light.btn(href="/about") About Us
      