extends layout

block content
	// --------------------------CSS---------------------------------
	link(rel='stylesheet', href='/stylesheets/item.css')
	// --------------------------CSS---------------------------------

	// ---------------------------	CONTENT----------------------------
	.row
		// split screen in half with 2 floating containers
		#infoBox
			h4#header Title
			p#title(class="highlight") 1
			h4#header Description
			p#description(class="highlight") 1
			h3#price(class="highlight" style="float:left") 1
			button#itembutton(style="float:right" type="submit" form="messageForm") Contact

		#imageBox
			img#image( alt="this if image does not exist")
			form(action="/item/message" method="post")#messageForm
				.input-field
					textarea#messageArea.materialize-textarea(name='message' required)
					label(for='messageArea') Textarea
	// ---------------------------	CONTENT----------------------------

	// ---------------------------	JS ----------------------------
	script(src='/javascripts/item.js')
	// ---------------------------	JS ----------------------------
