extends layout

block content
	// --------------------------CSS---------------------------------
	link(rel='stylesheet', href='/stylesheets/item.css')
	// --------------------------CSS---------------------------------

	// ---------------------------	CONTENT----------------------------
	.row
		// split screen in half with 2 floating containers
		#infoBox
			h4#header Title
			p#title(class="highlight") #{item.name}
			h4#header Description
			p#description(class="highlight") #{item.description}
			h3#price(class="highlight" style="float:left") $#{item.price}
			button#itembutton(style="float:right" type="submit" form="messageForm") Contact

		#imageBox
			img#image(src='/images/items/' + item.image alt="this if image does not exist")
			form(action="/item/message" method="post")#messageForm
				.input-field
					input(type="hidden", name="id", value=item.id)
					textarea#messageArea.materialize-textarea(name='message' autocomplete="off" required)
					label(for='messageArea') Message Owner
	// ---------------------------	CONTENT----------------------------

	// ---------------------------	JS ----------------------------
	script(src='/javascripts/item.js')
	// ---------------------------	JS ----------------------------
