extends layout

block content
    //- Square cards
    .welcome-text
        .row
            h2 Welcome to SFSU Connect 

    .item-list
        h3 item list
        .row
            .col.s3
                .card
                    .card-image
                        img(src='images/sample-1.jpg')
                        span.card-title Card Title
                    .card-content
                        p
                        | I am a very simple card. I am good at containing small bits of information.
                        | I am convenient because I require little markup to use effectively.
                    .card-action
                        a(href='#') This is a link
            
            .col.s3
                .card
                    .card-image
                        img(src='images/sample-1.jpg')
                        span.card-title Card Title
                    .card-content
                        p
                        | I am a very simple card. I am good at containing small bits of information.
                        | I am convenient because I require little markup to use effectively.
                    .card-action
                        a(href='#') This is a link
            
            .col.s3
                .card
                    .card-image
                        img(src='images/sample-1.jpg')
                        span.card-title Card Title
                    .card-content
                        p
                        | I am a very simple card. I am good at containing small bits of information.
                        | I am convenient because I require little markup to use effectively.
                    .card-action
                        a(href='#') This is a link

            .col.s3
                .card
                    .card-image
                        img(src='images/sample-1.jpg')
                        span.card-title Card Title
                    .card-content
                        p
                        | I am a very simple card. I am good at containing small bits of information.
                        | I am convenient because I require little markup to use effectively.
                    .card-action
                        a(href='#') This is a link
