extends layout

block content
    //- Square cards
    .welcome-text
        .row
            h2 Welcome to SFSU Connect #{numOfIitem} item has been added in the pass 7 days

    .item-list
        .row
            h3 item list
        .row
            .col.s3
                .card
                    .card-image
                        img(src="../images/download.jpg")
                        
                    .card-content
                        p
                        | I am a very simple card. I am good at containing small bits of information.
                        | I am convenient because I require little markup to use effectively.
                    .card-action
                        a(href='#') This is a link
            
            .col.s3
                .card
                    .card-image
                        img(src="../images/download.jpg")

                    .card-content
                        p
                        | I am a very simple card. I am good at containing small bits of information.
                        | I am convenient because I require little markup to use effectively.
                    .card-action
                        a(href='#') This is a link
            
            .col.s3
                .card
                    .card-image
                        img(src="../images/download.jpg")

                    .card-content
                        p
                        | I am a very simple card. I am good at containing small bits of information.
                        | I am convenient because I require little markup to use effectively.
                    .card-action
                        a(href='#') This is a link

            .col.s3
                .card
                    .card-image
                        img(src="../images/download.jpg")
              
                    .card-content
                        p
                        | I am a very simple card. I am good at containing small bits of information.
                        | I am convenient because I require little markup to use effectively.
                    .card-action
                        a(href='#') This is a link
            
        .row
            .col.s3
                .card
                    .card-image
                        img(src="../images/download.jpg")
                    
                    .card-content
                        p
                        | I am a very simple card. I am good at containing small bits of information.
                        | I am convenient because I require little markup to use effectively.
                    .card-action
                        a(href='#') This is a link
            
            .col.s3
                .card
                    .card-image
                        img(src="../images/download.jpg")
        
                    .card-content
                        p
                        | I am a very simple card. I am good at containing small bits of information.
                        | I am convenient because I require little markup to use effectively.
                    .card-action
                        a(href='#') This is a link
            
            .col.s3
                .card
                    .card-image
                        img(src="../images/download.jpg")
             
                    .card-content
                        p
                        | I am a very simple card. I am good at containing small bits of information.
                        | I am convenient because I require little markup to use effectively.
                    .card-action
                        a(href='#') This is a link

            .col.s3
                .card
                    .card-image
                        img(src="../images/download.jpg")
         
                    .card-content
                        p
                        | I am a very simple card. I am good at containing small bits of information.
                        | I am convenient because I require little markup to use effectively.
                    .card-action
                        a(href='#') This is a link
