doctype html
html
  head
    title= title
    
    //- JQuery
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")

    //- materialize
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")

    //- material icons
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons") 
    
    //- font -> Raleway
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap" rel="stylesheet">


    //- personal css
    link(rel='stylesheet', href='/stylesheets/style.css')

    script(src="https://material.io/design/material-studies/crane.html#color")

  body
    include components/navbar
    block content
    include components/footer