doctype html
html
  head
    title= title
    
    
    //- JQuery
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")

    //- materialize
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js")

    //- material icons
    link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons") 
    
    //- font -> Raleway
    link(href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap" rel="stylesheet")

    //- personal css
    link(rel='stylesheet', href='/stylesheets/style.css')

    //- footer css
    link(rel='stylesheet', href='/stylesheets/footer.css')

    //- postitem css
    link(rel='stylesheet', href='/stylesheets/postitem.css')

    //- register css
    link(rel='stylesheet', href='/stylesheets/register.css')

    //- inbox css
    link(rel='stylesheet', href='/stylesheets/inbox.css')
    
    //- about css
    link(rel='stylesheet', href='/stylesheets/about.css')
    
    //- landing css
    link(rel='stylesheet', href='/stylesheets/landing.css')

    //- Thankyou for posting css
    link(rel='stylesheet', href='/stylesheets/thankyouforposting.css')
    
    //- nav bar css
    link(rel='stylesheet', href='/stylesheets/navbar.css')
    
    //- account css
    link(rel='stylesheet', href='/stylesheets/account.css')

    //- search css
    link(rel='stylesheet', href='/stylesheets/category.css')

  body
    block content