extends layout
block content
    link(rel='stylesheet', href='/stylesheets/login.css')
    include navbar
    .row
    .row
        .loginForm.col.s4.white.push-s8.rounded
    
            h5 SFSU Email 
            input(type='email', name = "email", placeholder='enter your SFSU email')

            h5 Password 
            input(type='text', name = "password", placeholder='choose a password')

            a(href= '#') Forgot Password?
            p
            .row
                button.btn-large.deep-purple.right.rounded(type = 'submit') Log in
            p
            .row
                a.right don't have an account? Sign up