extends layout
block content
  // -----------------------------CSS-----------------------------------------
  link(rel='stylesheet', href='/stylesheets/login.css')
  // -------------------------------------------------------------------------

  // -----------------------------CONTENT-------------------------------------
  .row
    .loginForm.col.s4.white.push-s8.rounded
      form(action="/login", method="post")
        h2 Login
      
        h6.red-text #{error}
      
        h5 SFSU Email 
        input.validate(type='email', name = "email", placeholder='enter your SFSU email', required)

        h5 Password 

        input.validate(type='password', name = "password", placeholder='choose a password', required)

        a(href= '#') Forgot Password?
        
        .row
          a.href.right(href="/")
            button.loginButton.btn.right.rounded(type = 'submit') Log in
        
        .row
          a.href.right(href="/register") Don't have an account? Sign up
  // -------------------------------------------------------------------------
  
  // -----------------------------JAVASCRIPT----------------------------------
  script.
    document.getElementById("edit").style.display = "none";
  // -------------------------------------------------------------------------