extends layout
block content
    link(rel='stylesheet', href='/stylesheets/login.css')
    include navbar
    .row
    .row
        .loginForm.col.s4.white.push-s8.rounded
    
            h5 SFSU Email 
            input.validate(type='email', name = "email", placeholder='enter your SFSU email')

            h5 Password 
            input.validate(type='text', name = "password", placeholder='choose a password')

            a(href= '#') Forgot Password?
            p
            .row
                 a.href.right(href="/")
                 button.btn-large.deep-purple.right.rounded(type = 'submit') Log in
            p
            .row
                a.href.right(href="register") Don't have an account? Sign up
                