head
  style.
    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4E0D3A;
    }
    li {
    float: right;
    }
    li a {
    display: block;
    color: white;
    text-align: center;
    padding: 40px 16px;
    text-decoration: none;
    }
    li a:hover {
    background-color: #89236C;
     h1 { 
     color: #FFCA28;
     float:left;
           }
  head
   style.
      h1 { color: #FFCA28; }
  head
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap" rel="stylesheet">
  style.
    body {
    font-family: 'Rubik', sans-serif;
    font-size: 22px;
    }
   img {
    border-radius: 50%;
    float:right
    }
ul
  li 
    a (img(src='taylor.png'))
  li
    a(href='#Signout') Sign Out
  li
    a(href='#About') About
  li
    a(href='#Post') Post
  
  h1 SFSU Connect

 
