extends layout

block content
      .navbar-fixed
        nav#navbar
          .nav-wrapper
            a(href="#" class="brand-logo") SFSU Connect
            ul#nav-mobile.right.hide-on-med-and-down
              li
                a(href="postitem.html") Post 
              li
                a(href="about.html") About
              li
                a(href="login.html") Sign Out
              li
                a.href(href="/")
                  img.circle.responsive-img(src='images/profile_pics/taylor.png' style='height:64px; padding:5px;')
