extends layout

block content   
  link(rel='stylesheet', href='/stylesheets/newItem.css')
  
  .row#title
    h2.center New Post

  //- A form for user to put in listing's information. 
  
  form(action="/item/new", method="post", enctype="multipart/form-data")
    .container
      .row
        h7 Item Name (Required):
      .row
        input(type='textarea' , ID = "PostItemName" , name = "itemname", required)

    .container
      H7 Choose a Category below. (Required)
      .row
        .input-field
          select(name='category',required)
            option(value='' disabled selected) Choose a category
            option(value='Art') Art
            option(value='Books') Books
            option(value='Clothes') Clothes
            option(value='Electronics') Electronics
            option(value='Home & Kitchen') Home &amp; Kitchen
            option(value='Miscellaneous') Miscellaneous
            option(value='Toys & Games') Toys &amp; Games
            option(value='Tutoring') Tutoring

    .container   
      H7 Upload a Image below. (Optional)
      .row
        input(type='file', ID="newpic", name = "uploadImage", accept = 'image/png, image/jpg', showing=true, onchange='display(this);')
        .row
          img(ID="holderpic", src="/images/itemplaceholder.png", hidden=false)
          img(id="itemImg")
    
    .container
      .row
        h7 Description (Required): 
      .row
        textarea(name="description", ID="DescriptionArea", required)
    .container
      .row
        h7 Price $ (Required)
          input(type='number', ID="PostItemPrice", name = "price", min="0.00", step="0.01", required)

    .container
      .row
        button(ID = "PostItemButton" type = 'submit') SUBMIT

    script(src='/javascripts/newItem.js')
