extends layout

block content   
  //--------------------------- CSS--------------------------
  link(rel='stylesheet', href='/stylesheets/newItem.css')
  //---------------------------------------------------------

  //--------------------------Content------------------------
  
  .row#title
    h2.center New Post
  
  form(action="/item/new", method="post", enctype="multipart/form-data")
    .container   
      .row
        img(src="/images/itemplaceholder.png")
      .row
        input(type='file', name = "uploadImage", accept = 'image/png, image/jpg')
    .container
      .row
        h7 ITEM NAME:
      .row
        input(type='textarea' , ID = "PostItemName" , name = "itemname", required)
    .container
      .row
        h7 DESCRIPTION: 
      .row
        textarea(name="description", ID="DescriptionArea", required)
    .container
      .row
        h7 PRICE $ 
    .container
      .row
        input(type='number', ID="PostItemPrice", name = "price", min="0.00", step="0.01", required)
        .input-field
          select(name='category',required)
            option(value='' disabled selected) Choose a category
            option(value='Art') Art
            option(value='Books') Books
            option(value='Clothes') Clothes
            option(value='Electronics') Electronics
            option(value='Home & Kitchen') Home &amp; Kitchen
            option(value='Miscellaneous') Miscellaneous
            option(value='Toys & Games') Toys &amp; Games
            option(value='Tutoring') Tutoring
        .row
          button(ID = "PostItemButton" type = 'submit') SUBMIT
    //---------------------------------------------------------

    //---------------------Javascript-------------------
    script(src='/javascripts/newItem.js')
    //---------------------------------------------------------
