extends layout

block content   
  //--------------------------- CSS--------------------------
  link(rel='stylesheet', href='/stylesheets/newItem.css')
  //---------------------------------------------------------

  //--------------------------Content------------------------
  .row
    p
    form(action="/item/new", method="post", enctype="multipart/form-data")
      .col.s5.push-s3   

        img(src="/images/itemplaceholder.png")
        input(type='file', name = "uploadImage", accept = 'image/png, image/jpg')
        br
        br
        h7 ITEM NAME:
        br
        input(type='textarea' , ID = "PostItemName" , name = "itemname", required)
        br
        br
        h7 DESCRIPTION: 
        br
        textarea(name="description", ID="DescriptionArea", required)
        br
        br
        h7 PRICE $ 
        br
        input(type='number', ID="PostItemPrice", name = "price", min="0.00", step="0.01", required)
        br
        br
        .input-field
          select(name='category',required)
            option(value='' disabled selected) Choose a category
            option(value='Art') Art
            option(value='Books') Books
            option(value='Clothes') Clothes
            option(value='Electronics') Electronics
            option(value='Home & Kitchen') Home &amp; Kitchen
            option(value='Miscellaneous') Miscellaneous
            option(value='Toys & Games') Toys &amp; Games
            option(value='Tutoring') Tutoring
        .row
          .col.push-s4
            p
            button(ID = "PostItemButton" type = 'submit') SUBMIT
    //---------------------------------------------------------
    include components/footer
    //---------------------Javascript-------------------
    script(src='/javascripts/newItem.js')
    //---------------------------------------------------------
