extends layout

block content   
    .row
        .col.s6.push-s2
            input(type='file', name = "uploadImage", accept = 'image/png, image/jpg')
        
    
        .col.row.s5.push-s1
            h7 ITEM NAME  
            input(type='text', name = "itemname")

            h7 DESCRIPTION 
            input(type='text', name = "description")
            
            h7 PRICE 
            input(type='text', name = "price")

            h7 Choose A Category
            p

            .row
                .col.s2.push-s4
                    button(class= "Buttons" type = 'submit') SUBMIT
    