extends layout

block content   
    
    h4 PostItem Page
        
    .imgside
        input(type='file', name = "uploadImage")
        
    .textside
        
        h7 ITEM NAME  
        input(type='text', name = "itemname")

        h7 DESCRIPTION 
        input(type='text', name = "description")
          
        h7 PRICE 
        input(type='text', name = "price")

        h7 Choose A Category
        p

        button(class= "Buttons" type = 'submit') SUBMIT
    