extends layout

block content   
    
    h2 Post Image Page

    body

        input(type='file', name = "uploadImage")

        p
        
        h7 ITEM NAME  
        input(type='text', name = "itemname")

        h7 DESCRIPTION 
        input(type='text', name = "description")

        h7 PRICE  
        input(type='text', name = "price")

        button(type = 'submit') SUBMIT
    