extends layout
block content
  //- A form for new users to register for an account
  link(rel='stylesheet', href='/stylesheets/register.css')

  .row
  .row
    .col    
      .registerForm
        form(action="/register", method="post")
          h2 Join Us!
                
          h5 Name
          input(type='text', name = "name",  placeholder='enter your name', required)

          h5 SFSU Email 
          input(type='text', name = "email", placeholder='enter your SFSU email', required, pattern='^[a-zA-Z0-9]+@mail.sfsu.edu')

          h5 Password 
          input(type='password', name = "password", id = "pw1", placeholder='choose a password', required)

          h5 Confirm Password 
          input(type='password', name = "confirmpassword", id = "pw2", placeholder='confirm your password', required, onchange='check();')

          label
            input(type="checkbox" , required)
            span I Agree to 

          a#terms(href='TermsConditions')  Terms and Conditions 
                
          .row            
            .col.s9.push-s4
              button.btn(id='submitregister' type='submit' disabled) Register
            
            //Redirect to login page if user already have account
            .col.s9.push-s2
              a(href='/login') Already have an account? Log In!

  script(src='/javascripts/register.js')
