extends layout
block content
    .row
        .col.s5.push-s6
            
            .registerForm

                form(action="register", method="post")
                    h2 Join Us!
                
                    h5 First Name 
                    input(type='text', name = "fname",  placeholder='enter your first name', required)

                    h5 Last Name 
                    input(type='text', name = "lname", placeholder='enter your last name', required)

                    h5 SFSU Email 
                    input(type='text', name = "SFSUemail", placeholder='enter your SFSU email', required, pattern='^[a-zA-Z0-9]+@mail.sfsu.edu')

                    h5 Password 
                    input(type='password', name = "password", id = "pw1", placeholder='choose a password', required)

                    h5 Confirm Password 
                    input(type='password', name = "confirmpassword", id = "pw2", placeholder='confirm your password', required, onchange='check();')
                    p

                    label
                        input(type="checkbox" , required)
                        span I Agree to 

                    a(href='TermsConditions')  Terms and Conditions 
                    p

                    .row            
                        .col.s9.push-s4
                            button(class= "registerButton" id='submitregister' type='submit' disabled) Register
                    p
                        .col.s9.push-s2
                            a(href='login') Already have an account? Log In!

    script(src='javascripts/register.js')