extends layout

block content
  link(rel='stylesheet' href='/stylesheets/landing.css')

  #content

    #item-list
      .row#filterbar
        .col.s4
          if items
            if items.length == 1
              h3 #{items.length} item found
            else
              h3 #{items.length} items found

        .col.s3.right#selectBar
          label Filter
          select.browser-default#option
            option(value='' selected disabled hidden) Choose your option
            option(value='1') Price: High to Low
            option(value='2') Price: Low to High
            option(value='3') Date: Old to New
            option(value='4') Date: New to Old

      #itemCard
        .row
          if items
            each item in items
              .col.s12.m6.l3
                .card.medium
                  a(href="/item/" + item.id)
                    .card-image
                      img(src="/images/items/thumbnail-" + item.image)
                    .card-title
                      .row.valign-wrapper#cardBody
                        .col.s4#responsiveText
                          - 
                            if(item.itemName.length > 40) {
                              item.itemName = item.itemName.substring(0, 37);
                              item.itemName += '...'
                            }
                          h6 #{item.itemName}
                        .col.s8#responsiveText
                          h5.right $#{item.price} 
          else
            h3.center Sorry, there are no items right now

  script(src='/javascripts/filterBar.js')
  script(src='/javascripts/searchResults.js')
