extends layout

block content
    //- Square cards
    .container
      h1.center-align Thank you for posting!
      h2.center-align Your post will not be public until an admin has approved it

    .container.center-align
      //- Back Button
      .row
        a.waves-effect.waves-light.btn.deep-purple(href="/")
          .row
            .col.s4
              i.material-icons chevron_left home
            .col.s8
              span home