extends layout

block content
    include navbar

    .container
   
      .row.center-align
        .col.s8.push-s2
          .card.deep-purple
              .card-content
                  h5.white-text.text-darken-2 My Products

    .container
        .row
            .col.s3
                .card
                    .card-image 
                        img(src="../images/download.jpg")
                        
                    .card-content
                        p
                        | Product1
                    .card-action
                        a(href='#') Product Link
            
            .col.s3
                .card
                    .card-image
                        img(src="../images/download.jpg")

                    .card-content
                        p
                        | Product2
                    .card-action
                        a(href='#') Product Link
            
            .col.s3
                .card
                    .card-image
                        img(src="../images/download.jpg")

                    .card-content
                        p
                        | Product3
                    .card-action
                        a(href='#') Product Link
            .col.s3
                .card
                    .card-image
                        img(src="../images/download.jpg")

                    .card-content
                        p
                        | Product4
                    .card-action
                        a(href='#') Product Link