extends layout

block content
  // -------------------------------CSS---------------------------------------------
  link(rel='stylesheet', href='/stylesheets/userItems.css')
  // -------------------------------------------------------------------------------

  // -------------------------------CONTENT-----------------------------------------
  .container

    .row.center-align
      .col.s8.push-s2
        .card.myproductscard
          .card-content
            h4.white-text.text-darken-2 My Products

  #itemCard
    .row
      if items
        each item in items
          .col.s12.m6.l3
            .card.medium
              a(href="/item/" + item.id)
                .card-image
                  img(src="/images/items/" + item.image)
                .col.s8#responsiveText
                  - 
                    if(item.itemName.length > 40) {
                      item.itemName = item.itemName.substring(0, 37);
                      item.itemName += '...'
                    }
                  h6 #{item.itemName}
                .col.s4#responsiveText
                  h5.right $#{item.price} 
      else
        h3.center You have no items right now
  // -------------------------------------------------------------------------------

  // -------------------------------JAVASCRIPT--------------------------------------
  script(src='/javascripts/userItems.js')
  // -------------------------------------------------------------------------------
