extends layout

block content
  // -------------------------------CSS---------------------------------------------
  link(rel='stylesheet', href='/stylesheets/userItems.css')
  // -------------------------------------------------------------------------------

  // -------------------------------CONTENT-----------------------------------------
  .container

    .row.center-align
      .col.s8.push-s2
        .card.myproductscard
          .card-content
            h5.white-text.text-darken-2 My Products

  #itemCard
    .row
      if items
        each item in items
          .col.s12.m6.l4
            .card
              a(href="/item/" + item.id)
                .card-image
                  img(src="/images/items/" + item.image)
                .card-title= item.itemName
                .card-content= item.userName
      else
        h3.center You have no items right now
  // -------------------------------------------------------------------------------

  // -------------------------------JAVASCRIPT--------------------------------------

  // -------------------------------------------------------------------------------
