extends layout

block content
  .container
    .row
      
      //- Category Dropdown
      .col.s4
        a#category-dropdown-trigger(class='dropdown-trigger btn' data-target='category-dropdown') all
        ul#category-dropdown(class='dropdown-content')
          li
            a#current-cat 
              i.material-icons trip_origin 
              |All
          li(class="divider" tabindex="-1")
          li
            a#art-cat
              i.material-icons palette 
              |Art
          li
            a#books-cat
              i.material-icons book 
              |Books
          li
            a#clothes-cat
              i.material-icons checkroom 
              |Clothes
          li
            a#electronics-cat
              i.material-icons camera_alt 
              |Electronics
          li
            a#home-cat
              i.material-icons countertops 
              |Home & Kitchen
          li
            a#misc-cat
              i.material-icons pedal_bike 
              |Miscellaneous
          li
            a#toys-cat
              i.material-icons sports_esports 
              |Toys & Games
          li
            a#tutoring-cat
              i.material-icons face 
              |Tutoring
      
      //- user search input
      .input-field.col.s6
        input#search-input(placeholder="search" type="text" class="validate")
      
      //- submit
      .col.s2
        #search-submit.btn search
    
    //- search results
    .divider
    h5 
      u Search Results
    p#search-result Null
    .row
      
  script(src='javascripts/index.js')