#accountbody {
  background-color: #ffffff;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#accimg {
  height: 400px;
  width: 400px;
}
.myaccountcard
{
  background-color:#4E0D3A;
}
.myaccountcard2
{
  background-color:#4E0D3A;
}
.myaccountcard3
{
  background-color:#4E0D3A;
}
.editbutton
{
  background-color: #FFCA28;
}