/*
THIS IS THE CSS FILE FOR 'components/footer.pug'
*/
.footer {
  background-color:#4E0D3A;
  border-radius: 10px 10px 0px 0px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}