.backabout{
    background-color:#4E0D3A;
    }
    .gerardopanel1{
    background-color:#4E0D3A;
    }
    .gerardopanel2
    {
        background-color:#4E0D3A;
        }
    .gerardopanel3{
        background-color:#4E0D3A;
        }
        