/*
THIS IS THE CSS FILE FOR 'hong.pug'
*/
.backabout{
    background-color:#4E0D3A;
    }
    .hongpanel1{
    background-color:#4E0D3A;
    }
    .hongpanel2
    {
        background-color:#4E0D3A;
        }
    .hongpanel3{
        background-color:#4E0D3A;
        }
        