/*
THIS IS THE CSS FILE FOR 'inbox.pug'
*/
#inboxbg {
  /* background-color: gray; */
  height: 100%;
}

#inbox {
  background-color: #4E0D3A;
  margin: 2%;
  border-radius: 20px;
  color:  #FFCA28;
}

#titleRow, #messageRow, #inboxFooter {
  margin-left: 2%;
  margin-right: 2%;
}

#titleRow {
  background-color: #4E0D3A;
  border-radius: 20px 20px 0px 0px;
  color: #FFCA28;
}


.divider {
  border-top: 3px dotted #4E0D3A;
}

.divider-right {
  border-right: 3px dotted #4E0D3A;
}

.divider-white-right {
  border-right: 3px solid #e4c8dc;;
}

/*-----------------------------------------------------------*/
