#infoBox {
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 50px;
  background-color: #4E0D3A;
  padding: 20px;
  border-radius: 20px;
}


#itembutton {
  background-color: #FFCA28;
  color:  #4E0D3A;
  border-radius: 20px;
  margin-top: 20px;
}

#image {
  border-style: solid;
  border-width: 10px;
  border-radius: 50px;
  border-color: #4E0D3A;
}

#itembutton:hover {
  background-color: #ffdd76;
}

#price, #contact {
  color: #FFCA28;
}

#messageArea {
  color: white;
}

/* #imageBox {
  float: left;
  width: 50%;
  padding: 20px;
  text-align: center;
}
#infoBox {
  float: right;
  max-width: 50%;
  width: 50%;
  background-color: #4E0D3A;
  border-radius: 50px;
  padding-right: 20px;
  margin: 20px;
}
#image {
  max-height: 30vmax;
  border: 20px;
  height: 50vmax;
  width: auto;
  max-width: 90%;
  object-fit: contain;
}
#title #description {
  font-family: "Rubik", sans-serif;
  background-color: #FFCA28;
  border-radius: 15px;
  padding: 15px;
  margin: 20px;
}
#price {
  font-family: "Rubik", sans-serif;
  background-color: #FFCA28;
  border-radius: 10px;
  padding: 10px;
  margin: 30px;
}
#itembutton {
  font-family: "Rubik", sans-serif;
  font-size: 48px;
  background-color: #FFCA28;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
}
#header {
  margin-left: 20px;

}
#description {
  height: 10vmax;
  
}
 */
