#imageBox {
  float: left;
  width: 50%;
  padding: 20px;
  text-align: center;
}
#infoBox {
  float: right;
  max-width: 50%;
  width: 50%;
  background-color: #4E0D3A;
  border-radius: 50px;
}
#image {
  max-height: 30vmax;
  border: 20px;
  height: 50vmax;
  width: auto;
  max-width: 90%;
  object-fit: contain;
}
#title #description {
  background-color: #FFCA28;
  border-radius: 15px;
  padding: 15px;
  margin: 20px;
}
#price {
  background-color: #FFCA28;
  border-radius: 10px;
  padding: 10px;
  margin: 30px;
}
#itembutton {
  font-family: "Raleway", sans-serif;
  font-size: 48px;
  background-color: #FFCA28;
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
}
#header {
  margin-left: 20px;

}
#description {
  height: 10vmax;
  
}

