#welcome-text {
  background-color: #4E0D3A;
  text-align: center;
  color: #fafafa;
}

#item-list {
  color: #4E0D3A;
}

#card-content {
  color: #000000;
}

/* #filterbar {
  align-items: center;
  align-self: center;
} */

#submitButton {
  margin-top: 2%;
}

#selectBar {
  margin-top: 1%;
}

#imageSize {
  width: 200px;
  height: 200px;
}