#welcome-text {
  background-color: #4e0d3a;
  text-align: center;
  color: #fafafa;
}

#item-list {
  color: #5d1049;
}

#card-content {
  color: #000000;
}

#filterbar {
  align-items: center;
  align-self: center;
}

#submitButton {
  margin-top: 2%;
}

#seleteBar {
  margin-top: 1%;
}
