#PostItemButton {
  border-radius: 25px;
  background-color:#4E0D3A;
  padding: 20px;
  color: white;
}

#DescriptionArea {
  background-color: white;
  height: 150px;

}

#PostItemName {
  width: 510px;
}

#PostItemPrice{
  background-color: white;
  height: 30px; 
}
