#PostItemButton{
    border-radius: 25px;
    background:purple;
    padding: 20px;
    color: white;
}

#DescriptionArea{
    background-color: white;
    height: 150px;
    
}

#PostItemName{
    width: 400px;
}

#PostItemPrice{
    background-color: white;
    height: 30px;
}