.registerForm {
  padding: 50px;
  background: white;
  border-radius: 50px;
}

#submitregister {
  border-radius: 25px;
  background-color: purple;
  padding: 20px;
  color: white;
}

body {
  background-image: url("../images/Background/Register.png");
  background-size: cover;
}
