.registerForm {
  padding: 50px;
  background: white;
  border-radius: 50px;
}

#submitregister {
  border-radius: 100px;
  background-color: #5D1049;
  color: white;
  height: 50px;
}

body {
  background-image: url("../images/Background/Register.png");
  background-size: cover;
}
