.registerForm{
    padding: 50px;  
    background: white;
    border-radius: 25px;
}

.registerButton{
    border-radius: 25px;
    background-color: purple;
    padding: 20px;
    color:white;
}

body{
    background-image: url("");
}