/*
THIS IS THE CSS FILE FOR 'about/robert.pug'
*/
.backabout {
    background-color:#4E0D3A;
}
.robertpanel1 {
    background-color:#4E0D3A;
}
.robertpanel2 {
    background-color:#4E0D3A;
}
.robertpanel3 {
    background-color:#4E0D3A;
}
        