#category-dropdown-trigger {
  width: 100%;
  border-radius: 25px 5px 5px 25px;
}

#search-submit {
  width: 100%;
  border-radius: 5px 25px 25px 5px;
}
#trigger-icon{
  line-height: 40px; !important;
}
#search-icon{
  line-height: 42px; !important;
}