
// ------------------------CSS------------------------------------------

// ---------------------------------------------------------------------

// ------------------------CONTENT--------------------------------------

.footer
    p.white-text.center This is a SFSU Software Development project and is
    p.white-text.center Created by CSC648-03-FA20-Team01

// ---------------------------------------------------------------------

// ------------------------JAVASCRIPT-----------------------------------

// ---------------------------------------------------------------------
