
// ------------------------CSS------------------------------------------
link(rel='stylesheet', href='/stylesheets/footer.css')
// ---------------------------------------------------------------------

// ------------------------CONTENT--------------------------------------

.footer.page-footer-fixed
    #footer
        .footer-copyright.white-text
            | &copy; 2014 Copyright Text
        

// ---------------------------------------------------------------------

// ------------------------JAVASCRIPT-----------------------------------

// ---------------------------------------------------------------------
