// ---------------------------------CSS----------------------------------
link(rel='stylesheet', href='/stylesheets/navbar.css')
// ----------------------------------------------------------------------
// ---------------------------------CONTENT------------------------------
.navbar-fixed
  nav#navbar 
    .nav-wrapper
      a(href="/" class="brand-logo") SFSU Connect
      ul#nav-mobile.right.hide-on-med-and-down
        li
          a.postitem(href="/item/new") Post 
        li
          a.about(href="/about") About
        li
          if user
            form#signout(action="/login/logout", method="post")
              a.login(href="javascript:$('#signout').submit()") Logout
          else
            a.login(href="/login") Login
        li
          a.href(href="/account")
            if user
              img.circle.responsive-img(src='/images/profile_pics/' + user.image style='height:64px; padding:5px;')
            else
              img.circle.responsive-img(src='/images/profile_pics/none.png' style='height:64px; padding:5px;')
      .col
        include search
        include footer
  // ----------------------------------------------------------------------
  // ---------------------------------JAVASCRIPT---------------------------

  // ----------------------------------------------------------------------