// -------------------------------CSS----------------------------------------
link(rel='stylesheet', href='/stylesheets/search.css')
// --------------------------------------------------------------------------

// -------------------------------CONTENT------------------------------------
.container
  .row.valign-wrapper
    //- category dropdown
    .col.s4
      a#category-dropdown-trigger(class='dropdown-trigger btn' data-target='category-dropdown')
        .row
          .col.s2
            #trigger-icon.material-icons trip_origin 
          .col.s10
            if category
              span#trigger-cat.left #{category}
            else
              span#trigger-cat.left All
      ul#category-dropdown(class='dropdown-content')
        li
          a#all-cat 
            i.material-icons trip_origin 
            |All
        li
          a#art-cat
            i.material-icons palette 
            |Art
        li
          a#books-cat
            i.material-icons book 
            |Books
        li
          a#clothes-cat
            i.material-icons checkroom 
            |Clothes
        li
          a#electronics-cat
            i.material-icons camera_alt 
            |Electronics
        li
          a#home-cat
            i.material-icons countertops 
            |Home &amp; Kitchen
        li
          a#misc-cat
            i.material-icons pedal_bike 
            |Miscellaneous
        li
          a#toys-cat
            i.material-icons sports_esports 
            |Toys &amp; Games
        li
          a#tutoring-cat
            i.material-icons face 
            |Tutoring
    
    //- user search input
    .col.s7
      if search
        input#search-input.white-text(value=search type="text" class="validate" maxlength='40')
      else
        - var searchPlaceholder = "Type what you are looking for here"
        input#search-input.white-text(placeholder=searchPlaceholder type="text" class="validate" maxlength='40')

    //- submit button
    .col.s1
      a#search-submit.btn
        #search-icon.material-icons search
// --------------------------------------------------------------------------

// -------------------------------JAVASCRIPT---------------------------------
script(src='/javascripts/search.js')
// --------------------------------------------------------------------------
